section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    padding: 10px 0;
}

.card-img-container img {
    margin: 0 7px;
    height: 100%;
    width: 180px;
    border-radius: 15px;
    transition: transform 0.15s ease-in;
}

.card-img-container img:hover {
    transform: scale(1.025) translateY(-3px);
}

