section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-container {
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: auto;
    padding: 10px;
}

.card-img, .card-img img {
    margin: 0 7px;
    height: 100%;
    width: 160px;
    border-radius: 15px;
    transition: transform 0.15s ease-in;
}

.card-img:hover {
    transform: scale(1.025) translateY(-3px);
}

