.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 24px;
}

.hero-container {
    font-size: 38px;
    line-height: 46px;
    margin: 0 0 50px 0;
    letter-spacing: -.2px;
    color: #989898;
}

.hero-container span {
    color: #000;
}